html {
  font-size: 62.5%;
  height: 100vh;
  max-width: 1440px;
}

body {
  background: url(../images/bg-desktop.svg) no-repeat center center;
  background-color: hsl(257, 40%, 49%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.header {
  margin: 50px;
}

.header img {
  width: 15%;
}

.main {
  display: flex;
  margin: 30px 50px;
}

.main img {
  width: 45%;
}

.main .info-main {
  color: #fff;
  padding: 30px 40px;
}

.main .info-main h2 {
  font-size: 4rem;
}

.main .info-main p {
  font-size: 1.4rem;
  margin-top: 17px;
  line-height: 24px;
}

.main .info-main .btn-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 14px;
  width: 165px;
  height: 43px;
  border-radius: 23px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
}

.main .info-main .btn-register a {
  color: hsl(257, 40%, 49%);
  font-size: 1.4rem;
}

.main .info-main .btn-register:hover {
  background-color: hsl(300, 69%, 71%);
}

.main .info-main .btn-register:hover a {
  color: #fff;
}

.footer .social {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-right: 68px;
}

.footer .social li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 5px;
  width: 42px;
  height: 42px;
  font-size: 2rem;
  border: 1px solid #fff;
  border-radius: 24px;
  transition: 0.3s ease-in-out;
}

.footer .social li > a:hover {
  color: hsl(300, 69%, 71%);
  border: 1px solid hsl(300, 69%, 71%);
}